go 1.19

use (
	./checkmail
	./files
	./functiondemo
	./labor
	./nimmspiel
	./recursion
	./recursion/hanoi
	./recursion/sudoku
	./simplehttp
	./sorting
	./sorting/bubble
	./sorting/gosort
	./sorting/heap
	./sorting/insertion
	./sorting/merge
	./sorting/quick
	./sorting/selection
	./tictactoe
	./tree
	./wiki
)
